<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grocery_App"
        tools:targetApi="31">
        <activity
            android:name=".Profile_2"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".My_Orders_2"
            android:exported="false" />
        <activity
            android:name=".My_Order"
            android:exported="false" />
        <activity
            android:name=".Delivery_Status"
            android:exported="false" />
        <activity
            android:name=".Product_Page_1"
            android:exported="false" />
        <activity
            android:name=".Register_Page_2"
            android:exported="false" />
        <activity
            android:name=".Register_Page_1"
            android:exported="false" />
        <activity
            android:name=".Login_Page_3"
            android:exported="false" />
        <activity
            android:name=".login_page_2"
            android:exported="false" />
        <activity
            android:name=".Login_Page_1"
            android:exported="false" />
        <activity
            android:name=".Intro_Activity_4"
            android:exported="false" />
        <activity
            android:name=".Intro_Activity_3"
            android:exported="false" />
        <activity
            android:name=".Intro_Activity_2"
            android:exported="false" />
        <activity
            android:name=".Intro_Activity_1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>